/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: "Bitter", "Times New Roman", serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: "Inter Tight", "Trebuchet MS", sans-serif;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "header header header header header"
    "pairing pairing pairing arial georgia"
    "bobwhite-quail bobwhite-quail readability readability readability"
    "bobwhite-quail bobwhite-quail line-length line-length line-length"
    "typeface typeface typeface helvetica helvetica"
    "footer footer footer footer footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

/*Header*/
header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    text-align: center;
    padding: 1rem 0.5rem 3rem 0.5rem;
}
header h1 {
    font-size: 3.2rem;
}
header p {
    font-size: 2rem;
}

/*Row 2*/
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
}
#arial, #georgia {
    padding: 4rem 1rem 1rem 0;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    padding: 4rem;
    font-size: 1.55rem;
    margin:0
}

/*Row 3*/
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 4rem 0 3rem 4rem;
}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    padding: 3.5rem 5rem 0 2rem;
}

#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    padding: 0 5rem 0 2rem;
}
#readability h2, #line-length h2 {
    font-size: 2rem;
    margin: 0;
}
#readability p, #line-length p {
    font-size: 1.15rem;
    line-height: 1.45rem;
}

/*Row 4*/
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    margin: 4.5rem 3rem 27.2rem 0;
    padding: 3rem;
}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    padding: 3.6rem 2rem 4rem 4rem;
    text-shadow: 0.1rem 0.1rem #333;
}
#typeface h2 {
    font-size: 2.1rem;
    margin: 0;
}
#typeface p {
    font-size: 1.33rem;
    margin-top: 0;
    padding-top: 0.5rem;
    line-height: 1.5rem;
}

/*Footer*/
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */
